<google-map
  height="30rem"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="addMarker()"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{infoContent}}</map-info-window>
</google-map>

<div class="pt-3">
  <button class="mr-1" (click)="zoomIn()">Zoom in</button>
  <button class="mr-1" (click)="zoomOut()">Zoom out</button>
  <button class="mr-1" *ngIf="isEditing" (click)="addMarker()">Add marker & save location</button>
  <button class="mr-1" *ngIf="isEditing" (click)="clearLocation()">Clear selected location</button>
</div>
<div class="pt-3" *ngIf="this.markers[0] && this.markers[0].position && isEditing">Location marked at coordinates
  [{{this.markers[0].position.lat}}, {{this.markers[0].position.lng}}]
</div>
