<div class="example-container">
  <form>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Event title</mat-label>
        <input matInput #eventTitle/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Event location</mat-label>
        <input matInput>
        <app-gmap (centerPosition)="updateMapCoordinates($event)"  ></app-gmap>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Event maximum volunteers number</mat-label>
        <input matInput type="number" #eventMaxNumber/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Event image</mat-label>
        <input matInput #eventImage/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Event date</mat-label>
        <input matInput type="date" #eventDate/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Event sponsor</mat-label>
        <input matInput #eventSponsor/>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Event description</mat-label>
        <textarea matInput #eventDescription></textarea>
      </mat-form-field>
    </p>
</form>
</div>
<button mat-raised-button routerLink="/event-list/"
        (click)=
          "addEvent(eventTitle.value,eventMaxNumber.valueAsNumber,eventImage.value,
      eventDate.valueAsDate,eventSponsor.value,eventDescription.value)">
  add
</button>
<div>test</div>
