<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <button mat-button [matMenuTriggerFor]="title"> Events</button>
        <mat-menu #title="matMenu">
          <button mat-menu-item (click)="loadEvents()">All events</button>
          <button mat-menu-item (click)="myEvents()">My events</button>
        </mat-menu>
      </mat-card-title>
      <mat-card-content>
        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="eventsList">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef>Id.</mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.title}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
              <mat-cell *matCellDef="let event"> {{event.dates | date: 'd/M/y'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="forward">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let event">
                <button mat-icon-button
                        matTooltip="{{shortingDescription(event.description)}}..."
                        matTooltipPosition="above"
                        routerLink="/event-list/{{event.id}}">
                  <mat-icon class="icon">forward</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="participate">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let event">
                <button mat-icon-button
                        matTooltip="participate"
                        matTooltipPosition="above"
                        (click)="participate(event.id)">
                  <mat-icon class="icon">add</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let event">
                <button mat-icon-button
                        matTooltip="delete"
                        matTooltipPosition="above"
                        (click)="deleteAction(event)">
                  <mat-icon class="icon">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
